.footer-bg{
    background-color: var(--cor-05);
    margin-top: 60px;
    position: relative;
}

.footer-bg a{
    transition: color .3s;
}

.footer-bg a:hover{
    color: var(--cor-01);
}

.footer h3{
    text-align: center;
}

.footer{
    padding: 20px 80px 40px 80px;
}


.footer-links{
    padding-bottom: 30px;
}

.footer-contatos li{
    padding: 10px;
}

.footer-contatos>p{
    padding-top: 30px;
}

.footer-bg img{
    width: 100px;
    position: absolute;
    right: 40px;
    bottom: 80px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

.footer-bg img:hover{
        border: 1px solid var(--cor-07);
        box-sizing: border-box;
}

.final-final{
    background-color: var(--cor-02);
    padding: 20px;
    padding-left: 40px;
}