.introducao-bg{
    background-color: #95AF92;
    box-shadow: inset 0 -100px white;
}

.introducao{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.introducao img{
    object-fit: cover;
    object-position: left center;
    height: auto;
    max-width: 800px;
    box-sizing: border-box;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}

.introducao h1{
    color: #F3C6C9;
    padding: 15px 0px;
}

@media(max-width: 800px){
    
    .introducao-bg{
        box-shadow: initial;
    }

    .introducao h1{
        font-size: 24px;
    }
}