.flores-bg{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 20px;
}

.flores img{
    max-width: 210px;
    border-radius: 4px 4px 0 0;
}

.flores{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-wrap: wrap;
    gap: 60px;
    margin-top: 20px;
}

.flor a{
    display: block;
    background-color: var(--cor-04);
    padding-bottom: 10px;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    transition: background-color .2s;
}

.flor a:hover{
    background-color: var(--cor-03);
}

.flor p, .flor span{
    padding-left: 10px;
}

.flor p{
    margin-bottom: 6px;
    margin-top: 10px;
}

.flor span{
    letter-spacing: 0.5px;
}

.flor:nth-child(8){
    position: relative;
}

img.infinito{
    position: absolute;
    width: 35px;
    height: auto;
    bottom: 13px;
    right: 70px;
}


@media(max-width: 800px){
    .flores{
        grid-template-columns: 1fr 1fr;
        gap: 40px;
        margin-top: 10px;
        padding: 0px 20px;
    }
}

@media(max-width: 500px){
    img.infinito{
        display: none;
    }
}